<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.meetingplanner">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mulogo"
        android:label="MeetU!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Favourites"
            android:label="Favourites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_Delete_From_DB"
            android:label="@string/title_activity_add__delete__from__db"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArrangeMeeting"
            android:label="ArrangeMeeting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewFutureMeetings"
            android:label="@string/title_activity_view_future_meetings"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.meetingplanner.Menu" />
        </activity>
        <activity
            android:name=".ViewPastMeetings"
            android:label="@string/title_activity_view_past_meetings"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.james.meetingplanner.Menu" />
        </activity>
    </application>

</manifest>
